{% extends "shop_app/base.html" %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-md-3">
        <h3>Categories</h3>
        <ul class="list-group">
            <li class="list-group-item {% if not category %}active{% endif %}">
                <a href="{% url 'shop_app:product_list' %}">All</a>
            </li>
            {% for c in categories %}
            <li class="list-group-item {% if category and category.slug == c.slug %}active{% endif %}">
                <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-9">
        <h1>{% if category %}{{ category.name }}{% else %}Products{% endif %}</h1>
        <div class="row">
            {% for product in products %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" class="card-img-top" alt="{{ product.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">Rs{{ product.price }}</p>
                        <a href="{{product.get_absolute_url}}" class="btn btn-primary">View Details</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
