{% extends "shop_app/base.html" %}
{% load static %}

{% block content %}
<h1 class="mb-4">Shopping Cart</h1>
<table class="table">
    <thead>
        <tr>
            <th>Image</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Update</th>
            <th>Remove</th>
            <th>Unit Price</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        {% for item in cart %}
        {% with item.product as product %}
        <tr>
            <td>
                <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" class="img-thumbnail" alt="{{ product.name }}">
            </td>
            <td>{{ product.name }}</td>
            <td>
                <form action="{% url 'cart:cart_add' product.id %}" method="post">
                    {{ item.update_quantity_form.quantity }}
                    {{ item.update_quantity_form.override }}
                    <input type="submit" class="btn btn-outline-primary" value="Update">
                    {% csrf_token %}
                </form>
            </td>
            <td>
                <form action="{% url 'cart:cart_remove' product.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-outline-danger" value="Remove">
                </form>
            </td>
            <td class="num">Rs{{ item.price }}</td>
            <td class="num">Rs{{ item.total_price }}</td>
        </tr>
        {% endwith %}
        {% endfor %}
        <tr class="total">
            <td colspan="6" class="text-right">Total</td>
            <td class="num">Rs{{ cart.get_total_price }}</td>
        </tr>
    </tbody>
</table>
<div class="text-right">
    <a href="{% url 'shop_app:product_list
    
{% endblock %}