/* Base Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #a49d9d;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Header Styles */
#header {
    background: linear-gradient(to right, #ff9900, #ff6600);
    color: #878282;
    padding: 20px 0;
    text-align: center;
}

ul>{
    color: #fffcfc;
    background-color: cadetblue;
}
.logo {
    font-size: 30px;
    color: #fff;
    text-decoration: none;
}

/* Navigation Styles */
.navbar {
    background: linear-gradient(to right, #ff9900, #ff6600);
    padding: 10px 0;
}

.navbar-nav .nav-item .nav-link {
    color: #fff;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #f7f7f7;
}

/* Content Styles */
.product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    transition: box-shadow 0.3s ease;
}

.product-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-card img {
    max-width: 100%;
    height: auto;
}

.product-card .title {
    font-size: 18px;
    margin: 10px 0;
}

.product-card .price {
    font-size: 16px;
    font-weight: bold;
    color: #c45500;
}

.product-card .btn {
    background: linear-gradient(to right, #ff9900, #ff6600);
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.product-card .btn:hover {
    background: linear-gradient(to right, #ff6600, #ff3300);
}

/* Footer Styles */
#footer {
    background: linear-gradient(to right, #ff9900, #ff6600);
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-links a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}